body{
    background-image : url("../imagenes/fondoLogin.png");
}


#contenido{
    height: 100vh;
}

#login{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



h1{
    font-family: monospace;
    text-align: center;
    font-size: 36px;
    background-color: rgb(26, 166, 119);
}

label{
    font-size: 24px;
    position: relative;
    left : 16px;
}

form{
    color : #fff;
    
}

p{
    font-style: italic;
    color : #000;
    text-align: center;
    background-color: aquamarine;
}
input{
    display : block;
    padding: 32px;
    border-radius: 24px;
    width: 256px;
}

#enviar{
    position: relative;
    top : 16px;
    width: 324px;
}

#respuesta{
    font-size: 24px;;
}